@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Inter', system-ui, -apple-system, sans-serif;
    background-color: #f5f5f7;
    margin: 0;
    overflow: hidden;
}

.als-sirius-fallback {
    font-family: 'Inter', sans-serif;
    font-weight: 900;
}
